@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0 0 0;
  --background-rgb: 255 255 255;
  --second-rgb: 227 77 2;
  --link-rgb: 227 77 2;
  --btn-text: 225 225 225;
  --btn-bg: 227 77 2;
  --btn-text-hv: 225 225 225;
  --btn-bg-hv: 193 66 2;
  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --bg-canvas: 0 0 0;
  --border: 229 229 229;

  --duration-short: 100ms;
  --duration-default: 200ms;
  --duration-announcement-bar: 250ms;
  --duration-medium: 300ms;
  --duration-long: 500ms;
  --duration-extra-long: 600ms;
  --duration-extra-longer: 750ms;
  --duration-extended: 3s;
  --ease-out-slow: cubic-bezier(0, 0, 0.3, 1);
  --animation-slide-in: slideIn var(--duration-extra-long) var(--ease-out-slow)
    forwards;
  --animation-fade-in: fadeIn var(--duration-extra-long) var(--ease-out-slow);
}

.dark {
  --foreground-rgb: 255 255 255;
  --background-rgb: 9 10 19;
}

body {
  font-size: 14px;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

h1 {
  font-size: 22px;
  line-height: 1.25;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  line-height: 1.25;
  font-weight: 600;
}

h4 {
  font-size: 15px;
  line-height: 1.25;
  font-weight: 600;
}

a:hover {
  color: rgb(var(--second-rgb));
}

/* carousel */

/* responsive */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.openModal body,
.openDrawer body {
  overflow: hidden;
}

/* carousel */
body .react-multi-carousel-track {
  transition-duration: 1s !important;
}

@media screen and (min-width: 768px) {
  body .react-multi-carousel-dot-list {
    position: static;
  }
}

@media screen and (max-width: 767px) {
  body .react-multi-carousel-dot-list {
    position: absolute;
  }
}

body .react-multi-carousel-dot-list {
  gap: 10px;
  align-items: center;
  min-height: 56px;
}
body .react-multi-carousel-dot-list.milestones {
  gap: 0;
  margin-top: 50px;
}

body .react-multi-carousel-dot button {
  margin: 0;
  width: 10px;
  height: 10px;
  border-color: transparent;
  background-color: rgb(var(--btn-bg) / 50%);
}

body .react-multi-carousel-dot button:hover,
body .react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background-color: rgb(var(--btn-bg));
}

body .react-multi-carousel-list .react-multi-carousel-dot-list {
  position: absolute;
  bottom: 20px;
}

body .react-multi-carousel-list .react-multi-carousel-dot button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: relative;
}

body .react-multi-carousel-list .react-multi-carousel-dot button:after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body
  .react-multi-carousel-list
  .react-multi-carousel-dot.react-multi-carousel-dot--active
  button {
  border-color: rgb(var(--btn-bg));
  background-color: transparent;
}

body
  .react-multi-carousel-list
  .react-multi-carousel-dot.react-multi-carousel-dot--active
  button:after {
  background-color: transparent;
}

body .react-multiple-carousel__arrow {
  z-index: 2;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
}

body .react-multiple-carousel__arrow:hover {
  background-color: transparent;
}

body .react-multiple-carousel__arrow::before {
  color: rgb(var(--btn-bg));
  font-size: 40px;
}

body .culture-carousel .react-multiple-carousel__arrow {
  top: 75%;
}

@media screen and (max-width: 767px) {
  body .react-multiple-carousel__arrow {
    display: none;
  }
}

/* blog detail */
.blog-detail-content {
  text-align: justify;
}

.blog-detail-content img {
  margin: 10px 0;
}

.blog-detail-content img + em {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.blog-detail-content ul {
  list-style: initial;
  list-style-position: inside;
  padding-left: 20px;
}

.blog-detail-content ul + h2,
.blog-detail-content p + h2 {
  margin-top: 30px;
}

.blog-detail-content h2 {
  margin-bottom: 30px;
}

.blog-detail-content p + h3 {
  margin-top: 20px;
}

.blog-detail-content h3 {
  margin-bottom: 20px;
}

.blog-detail-content h4,
.blog-detail-content h5,
.blog-detail-content h6,
.blog-detail-content p {
  margin-bottom: 10px;
}

.blog-detail-content a {
  display: inline-block;
}

@media screen and (max-width: 1023px) {
  body .react-multiple-carousel__arrow,
  body .culture-carousel .react-multiple-carousel__arrow {
    display: none;
  }

  .blog-detail-content h2 {
    font-size: 20px;
  }

  .blog-detail-content h3 {
    font-size: 17px;
  }

  .blog-detail-content h4 {
    font-size: 16px;
  }
}

/* .board-member-slider .react-multi-carousel-track {
  width: 100%;
} */

.banner-top-slider .react-multi-carousel-dot-list {
  gap: 20px;
}

@media screen and (max-width: 767px) {
  .banner-top-slider + .react-multi-carousel-dot-list {
    margin-top: 10px;
    gap: 20px;
  }
}

/* animate */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 2s;
}

.animate__fadeInDown_2 {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.animate__fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.animate__fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-duration: 2s;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-duration: 1s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.animate__zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  animation-duration: 2s;
}

.be-vietnam-pro-thin {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.be-vietnam-pro-extralight {
  font-family: "Be Vietnam Pro", sans-serif !important;
  font-weight: 200;
  font-style: normal;
}

.be-vietnam-pro-light {
  font-family: "Be Vietnam Pro", sans-serif !important;
  font-weight: 300;
  font-style: normal;
}

.be-vietnam-pro-regular {
  font-family: "Be Vietnam Pro", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.be-vietnam-pro-medium {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.be-vietnam-pro-semibold {
  font-family: "Be Vietnam Pro", sans-serif !important;
  font-weight: 600;
  font-style: normal;
}

.be-vietnam-pro-bold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.be-vietnam-pro-extrabold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.be-vietnam-pro-black {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.be-vietnam-pro-thin-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.be-vietnam-pro-extralight-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.be-vietnam-pro-light-italic {
  font-family: "Be Vietnam Pro", sans-serif !important;
  font-weight: 300;
  font-style: italic;
}

.be-vietnam-pro-regular-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.be-vietnam-pro-medium-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.be-vietnam-pro-semibold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.be-vietnam-pro-bold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.be-vietnam-pro-extrabold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.be-vietnam-pro-black-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@media (max-width: 640px) {
  .underline-title1 {
    @apply relative inline-block;
  }

  .underline-title1::after {
    content: "";
    @apply absolute left-0 bottom-[-5px] bg-[#F16A23];
    width: 55px;
    height: 4px;
  }
}
.underline-title {
  @apply relative inline-block;
}

.underline-title::after {
  content: "";
  @apply absolute left-0 bottom-[-5px] bg-[#F16A23];
  width: 55px;
  height: 4px;
}
@layer utilities {
  .clip-part1 {
    clip-path: inset(0 66.66% 0 0); /* Phần đầu tiên */
  }

  .clip-part2 {
    clip-path: inset(0 33.33% 0 33.33%); /* Phần giữa */
  }

  .clip-part3 {
    clip-path: inset(0 0 0 66.66%); /* Phần cuối */
  }

  @media screen and (max-width: 767px) {
    .custom-pagination {
      display: inline-block;
      margin: 0 5px;
      height: 20px !important;
      width: 33px !important;
      background: none !important;
      opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
    }
  }
  @media screen and (min-width: 768px) {
    .custom-pagination {
      display: inline-block;
      margin: 5 5px;
      height: 50px !important;
      width: 50px !important;
      background: none !important;
      opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
    }
  }
  @media screen and (min-width: 768px) {
    .pagination-image-wrapper {
      position: relative;
      width: 48px; /* Kích thước ảnh trên màn hình lớn */
      height: 48px;
      transition: transform 0.3s ease; /* Chuyển động mượt */
    }
  }

  @media screen and (max-width: 767px) {
    .pagination-image-wrapper {
      position: relative;
      width: 33px; /* Kích thước ảnh trên màn hình nhỏ */
      height: 33px;
      transition: transform 0.3s ease; /* Chuyển động mượt */
    }
  }

  /* Phóng to khi ảnh đang active (được hover hoặc vẫn giữ trạng thái) */
  .swiper-pagination-bullet-active .pagination-image-wrapper {
    transform: scale(1.4);
    z-index: 10; /* Đảm bảo ảnh active luôn nổi bật hơn các ảnh khác */
  }

  .pagination-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Giữ tỷ lệ ảnh đúng */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Hiệu ứng mượt */
  }

  /* Giảm độ mờ của ảnh khi không active */
  .pagination-image-wrapper:not(.swiper-pagination-bullet-active)
    .pagination-image {
    opacity: 0.8;
  }

  .abc {
    @media (min-width: 768px) {
      .swiper-button-prev,
      .swiper-button-next {
        top: 75% !important;
        color: #f16a23 !important;
      }
    }
    @media (max-width: 767px) {
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
    .swiper-pagination {
      bottom: -20px; /* Tùy chỉnh khoảng cách với phần nội dung, tăng giá trị để đẩy pagination xuống */
      margin-top: 20px; /* Tạo khoảng trống giữa pagination và content */
    }

    .swiper-pagination-bullet {
      background-color: #f16a23; /* Màu của các nút pagination */
    }

    .swiper-pagination-bullet-active {
      background-color: #f16a23;
      width: 40px;
      height: 10px;
      border-radius: 40%;
    }
  }

  .mile {
    @media (min-width: 768px) {
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
    @media (max-width: 767px) {
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }

  .dot {
    @media (max-width: 767px) {
      .react-multi-carousel-dot-list {
        display: none !important;
      }
    }
  }
}
